/* line 1, ../sass/how-we-make/_global.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/how-we-make/_global.scss */
a {
  outline: none;
}

/* line 19, ../sass/how-we-make/_global.scss */
.replaced {
  text-indent: -9999px;
  display: block;
}

/* line 24, ../sass/how-we-make/_global.scss */
.left {
  float: left;
}

/* line 28, ../sass/how-we-make/_global.scss */
.right {
  float: right;
}

/* line 32, ../sass/how-we-make/_global.scss */
.hide {
  display: none;
}

/* line 35, ../sass/how-we-make/_global.scss */
.crop {
  overflow: hidden;
}

/* line 39, ../sass/how-we-make/_global.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 48, ../sass/how-we-make/_global.scss */
.clearfix {
  display: inline-block;
}

/* line 1, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-wrapper {
  float: left;
  z-index: 10;
  overflow: hidden;
}

/* line 7, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-main {
  width: 100%;
  z-index: 9;
}
/* line 11, ../sass/how-we-make/_jquery.snappish.scss */
.no-touch .snappish-main {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-1-slides {
  height: 100%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-1-slides .snappish-slide {
  height: 100%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-2-slides {
  height: 200%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-2-slides .snappish-slide {
  height: 50%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-3-slides {
  height: 300%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-3-slides .snappish-slide {
  height: 33.33333%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-4-slides {
  height: 400%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-4-slides .snappish-slide {
  height: 25%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-5-slides {
  height: 500%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-5-slides .snappish-slide {
  height: 20%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-6-slides {
  height: 600%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-6-slides .snappish-slide {
  height: 16.66667%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-7-slides {
  height: 700%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-7-slides .snappish-slide {
  height: 14.28571%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-8-slides {
  height: 800%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-8-slides .snappish-slide {
  height: 12.5%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-9-slides {
  height: 900%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-9-slides .snappish-slide {
  height: 11.11111%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-10-slides {
  height: 1000%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-10-slides .snappish-slide {
  height: 10%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-11-slides {
  height: 1100%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-11-slides .snappish-slide {
  height: 9.09091%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-12-slides {
  height: 1200%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-12-slides .snappish-slide {
  height: 8.33333%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-13-slides {
  height: 1300%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-13-slides .snappish-slide {
  height: 7.69231%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-14-slides {
  height: 1400%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-14-slides .snappish-slide {
  height: 7.14286%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-15-slides {
  height: 1500%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-15-slides .snappish-slide {
  height: 6.66667%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-16-slides {
  height: 1600%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-16-slides .snappish-slide {
  height: 6.25%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-17-slides {
  height: 1700%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-17-slides .snappish-slide {
  height: 5.88235%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-18-slides {
  height: 1800%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-18-slides .snappish-slide {
  height: 5.55556%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-19-slides {
  height: 1900%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-19-slides .snappish-slide {
  height: 5.26316%;
}

/* line 20, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-20-slides {
  height: 2000%;
}
/* line 23, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-20-slides .snappish-slide {
  height: 5%;
}

/* line 29, ../sass/how-we-make/_jquery.snappish.scss */
.snappish-slide {
  width: 100%;
}

/* line 1, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  font: 30px/32px 'Gotham Cond SSm A', 'Gotham Cond SSm B';
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #fff;
}
/* line 13, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  margin: auto;
}
/* line 23, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .group {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* line 29, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .bandp-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}
/* line 42, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .bandp-circle {
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 46, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .bandp-circle#brand-shape {
  background: rgba(199, 178, 153, 0.2);
}
/* line 50, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper .bandp-circle#product-shape {
  background: rgba(115, 115, 115, 0.2);
}
/* line 56, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper #conj-shape {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  z-index: 2;
  background: #212121;
  border: 1px solid #424242;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}
/* line 70, ../sass/how-we-make/_brand-and-product.scss */
#brandandproduct-wrapper #conj-shape .text {
  height: 16px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-indent: 1px;
  color: #c7b299;
}

/* line 82, ../sass/how-we-make/_brand-and-product.scss */
body.slide-3 #brandandproduct-wrapper,
body.slide-4 #brandandproduct-wrapper {
  display: block;
}

/* line 88, ../sass/how-we-make/_brand-and-product.scss */
body.slide-4 #conj-shape {
  display: none;
}

/* line 3, ../sass/how-we-make/_slide-1.scss */
.slide-1 .content small {
  position: absolute;
  width: 100%;
}

/* line 4, ../sass/how-we-make/_slide-3.scss */
.slide-3 .content {
  visibility: hidden;
}
/* line 9, ../sass/how-we-make/_slide-3.scss */
.slide-3 .content .conj,
.slide-3 .content .brand-circle,
.slide-3 .content .product-circle {
  display: none;
}
/* line 13, ../sass/how-we-make/_slide-3.scss */
.slide-3.active .content {
  visibility: visible;
}

/* line 4, ../sass/how-we-make/_slide-4.scss */
.slide-4 .content {
  visibility: hidden;
}
/* line 9, ../sass/how-we-make/_slide-4.scss */
.slide-4.active .content {
  visibility: visible;
}

/* line 4, ../sass/how-we-make/_slide-5.scss */
.slide-5 .content .label {
  display: block;
  top: 50%;
  margin-top: -275px;
}
@media only screen and (max-width: 640px) {
  /* line 4, ../sass/how-we-make/_slide-5.scss */
  .slide-5 .content .label {
    display: table;
    top: 0%;
    margin-top: 0;
  }
}
/* line 17, ../sass/how-we-make/_slide-5.scss */
.slide-5 .content .label > p {
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  /* line 17, ../sass/how-we-make/_slide-5.scss */
  .slide-5 .content .label > p {
    display: table-cell;
  }
}
@media only screen and (max-width: 640px) {
  /* line 24, ../sass/how-we-make/_slide-5.scss */
  .slide-5 .content .label > p > span {
    width: 242px;
    display: inline-block;
  }
}

/* line 3, ../sass/how-we-make/_slide-6.scss */
article.slide-6 .content > .wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 320px;
  height: 400px;
}
/* line 14, ../sass/how-we-make/_slide-6.scss */
article.slide-6 .concept {
  position: absolute;
  left: 0%;
  width: 100%;
  text-align: center;
  height: 28px;
  display: inline-block;
}
/* line 22, ../sass/how-we-make/_slide-6.scss */
article.slide-6 .concept.concept-utility {
  top: 14%;
}
/* line 26, ../sass/how-we-make/_slide-6.scss */
article.slide-6 .concept.concept-content {
  bottom: 21%;
}

/* line 35, ../sass/how-we-make/_slide-6.scss */
.slide-6 #two-machine {
  -webkit-transform: scale(0.45) rotate(90deg);
  -moz-transform: scale(0.45) rotate(90deg);
  -ms-transform: scale(0.45) rotate(90deg);
  -o-transform: scale(0.45) rotate(90deg);
  transform: scale(0.45) rotate(90deg);
}

/* line 5, ../sass/how-we-make/_slide-8.scss */
article.slide-8 .content .label p {
  color: #c7b299;
}
/* line 7, ../sass/how-we-make/_slide-8.scss */
article.slide-8 .content .label p > span {
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 12px;
}
@media only screen and (max-width: 640px) {
  /* line 7, ../sass/how-we-make/_slide-8.scss */
  article.slide-8 .content .label p > span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 8px;
  }
}

/* line 28, ../sass/how-we-make/_slide-8.scss */
.slide-8 #two-stadium {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (max-width: 640px) {
  /* line 28, ../sass/how-we-make/_slide-8.scss */
  .slide-8 #two-stadium {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 4, ../sass/how-we-make/_slide-12.scss */
article.slide-12 .content h2 {
  padding: 0;
}

/* line 6, ../sass/how-we-make/_slide-17.scss */
.slide-17 .content em {
  color: #c3af9a;
}

/* line 2, ../sass/how-we-make/_slide-18.scss */
article.slide-18 {
  color: #212121;
}

/* line 2, ../sass/how-we-make/_slide-19.scss */
body.slide-19 {
  background: #fff;
}

@media only screen and (max-width: 800px) {
  /* line 4, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content {
    font-size: 24px;
    letter-spacing: 16px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 4, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content {
    letter-spacing: 6px;
    font-size: 18px;
  }
}
/* line 17, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content h2 {
  position: relative;
  padding: 0;
}
/* line 20, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content h2 > span {
  float: left;
  width: 50%;
  display: block;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
@media only screen and (max-width: 640px) {
  /* line 20, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content h2 > span {
    width: 40%;
    padding-right: 15px;
  }
}
/* line 36, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em {
  width: 50%;
  text-align: left;
  display: block;
  letter-spacing: 0;
  position: relative;
}
@media only screen and (max-width: 640px) {
  /* line 36, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content em {
    width: 60%;
  }
}
/* line 47, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em > span {
  position: absolute;
  width: 9999px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
/* line 54, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em > span span[class*="char"] {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* line 61, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em > span.border {
  display: inline-block;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: border-bottom-color 0.5s;
  -webkit-transition-delay: 0.75s;
  -moz-transition: border-bottom-color 0.5s 0.75s;
  -o-transition: border-bottom-color 0.5s 0.75s;
  transition: border-bottom-color 0.5s 0.75s;
}
/* line 69, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em span > span {
  display: inline-block;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  /* line 69, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content em span > span {
    margin-right: 16px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 69, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content em span > span {
    margin-right: 6px;
  }
}
/* line 80, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content em span > span:last-child {
  margin-right: 0;
}
/* line 86, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content .wrap {
  position: absolute;
  left: 0;
  bottom: -120px;
  width: 100%;
  -webkit-transition: bottom 1s 1.5s;
  -webkit-transition-delay: ease-out;
  -moz-transition: bottom 1s 1.5s ease-out;
  -o-transition: bottom 1s 1.5s ease-out;
  transition: bottom 1s 1.5s ease-out;
}
/* line 92, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content .wrap:before {
  position: absolute;
  height: 60px;
  content: " ";
  border: 1px solid #a99884;
  left: 50%;
  bottom: -60px;
  pointer-events: none;
}
@media only screen and (max-width: 640px) {
  /* line 92, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content .wrap:before {
    bottom: -20px;
  }
}
/* line 106, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content .wrap a.btn {
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  display: inline-block;
  background: #212121;
  position: relative;
  z-index: 10000;
  padding: 30px 40px;
  border: 2px solid #a99884;
  -webkit-transition: background-color 0.3s;
  -webkit-transition-delay: 0s;
  -moz-transition: background-color 0.3s 0s;
  -o-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}
@media only screen and (max-width: 640px) {
  /* line 106, ../sass/how-we-make/_slide-20.scss */
  article.slide-20 .content .wrap a.btn {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    padding: 15px 20px;
  }
}
/* line 130, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content .wrap a.btn:link, article.slide-20 .content .wrap a.btn:hover, article.slide-20 .content .wrap a.btn:visited, article.slide-20 .content .wrap a.btn:active {
  text-decoration: none;
  color: #fff;
}
/* line 135, ../sass/how-we-make/_slide-20.scss */
article.slide-20 .content .wrap a.btn:hover {
  background: #2e2e2e;
}
/* line 148, ../sass/how-we-make/_slide-20.scss */
article.slide-20.active .content .wrap {
  bottom: 60px;
}
@media only screen and (max-width: 640px) {
  /* line 148, ../sass/how-we-make/_slide-20.scss */
  article.slide-20.active .content .wrap {
    bottom: 20px;
  }
}

/* line 160, ../sass/how-we-make/_slide-20.scss */
body.slide-20 .scroll-down-arrow.visible {
  display: none;
}

/* line 27, ../sass/how-we-make/main.scss */
html {
  height: 100%;
}

/* line 31, ../sass/how-we-make/main.scss */
body {
  overflow: hidden !important;
  height: 100%;
  background: #212121;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-highlight: none;
  min-height: 0 !important;
}

@-webkit-keyframes arrow {
  /* line 44, ../sass/how-we-make/main.scss */
  0% {
    bottom: 26px;
  }

  /* line 48, ../sass/how-we-make/main.scss */
  50% {
    bottom: 40px;
  }

  /* line 52, ../sass/how-we-make/main.scss */
  100% {
    bottom: 26px;
  }
}

@-moz-keyframes arrow {
  /* line 44, ../sass/how-we-make/main.scss */
  0% {
    bottom: 26px;
  }

  /* line 48, ../sass/how-we-make/main.scss */
  50% {
    bottom: 40px;
  }

  /* line 52, ../sass/how-we-make/main.scss */
  100% {
    bottom: 26px;
  }
}

@-o-keyframes arrow {
  /* line 44, ../sass/how-we-make/main.scss */
  0% {
    bottom: 26px;
  }

  /* line 48, ../sass/how-we-make/main.scss */
  50% {
    bottom: 40px;
  }

  /* line 52, ../sass/how-we-make/main.scss */
  100% {
    bottom: 26px;
  }
}

@keyframes arrow {
  /* line 44, ../sass/how-we-make/main.scss */
  0% {
    bottom: 26px;
  }

  /* line 48, ../sass/how-we-make/main.scss */
  50% {
    bottom: 40px;
  }

  /* line 52, ../sass/how-we-make/main.scss */
  100% {
    bottom: 26px;
  }
}

/* line 57, ../sass/how-we-make/main.scss */
.pjs-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

/* line 62, ../sass/how-we-make/main.scss */
a.scroll-down-arrow {
  height: 80px;
  width: 40px;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  z-index: 1000;
  background: rgba(33, 33, 33, 0);
  -webkit-transition: opacity 1s 0;
  -moz-transition: opacity 1s 0;
  -o-transition: opacity 1s 0;
  transition: opacity 1s 0;
  cursor: default;
  pointer-events: none;
}
/* line 80, ../sass/how-we-make/main.scss */
a.scroll-down-arrow:link, a.scroll-down-arrow:active, a.scroll-down-arrow:visited, a.scroll-down-arrow:hover {
  color: #fff;
  text-decoration: none;
}
/* line 85, ../sass/how-we-make/main.scss */
a.scroll-down-arrow > span {
  visibility: hidden;
  font: 14px/20px 'Gotham Cond SSm A', 'Gotham Cond SSm B';
  letter-spacing: 8px;
  position: absolute;
  width: 200px;
  height: 22px;
  left: 50%;
  bottom: 0;
  margin-left: -88px;
  /*@media only screen and (max-width: 640px) {
  	margin-left: -100px;
  }*/
  text-align: center;
  z-index: 10;
}
/* line 104, ../sass/how-we-make/main.scss */
a.scroll-down-arrow .arrow {
  position: absolute;
  bottom: 24px;
  left: 0;
  height: 80px;
  width: 40px;
  display: block;
}
/* line 112, ../sass/how-we-make/main.scss */
a.scroll-down-arrow .arrow:before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 0;
  border-left: 1px solid #c7b299;
  z-index: 1;
  pointer-events: none;
}
/* line 124, ../sass/how-we-make/main.scss */
a.scroll-down-arrow .arrow:after {
  content: " ";
  position: absolute;
  bottom: 4px;
  left: 7px;
  border-left: 1px solid #c7b299;
  border-bottom: 1px solid #c7b299;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
}
/* line 140, ../sass/how-we-make/main.scss */
a.scroll-down-arrow.visible {
  opacity: 1;
  pointer-events: visible;
  cursor: pointer;
}
/* line 144, ../sass/how-we-make/main.scss */
a.scroll-down-arrow.visible .arrow {
  -webkit-animation: arrow 1s ease-in-out infinite;
  -moz-animation: arrow 1s ease-in-out infinite;
  -o-animation: arrow 1s ease-in-out infinite;
  animation: arrow 1s ease-in-out infinite;
}

/* line 160, ../sass/how-we-make/main.scss */
#site-wrapper {
  background: transparent;
}
/* line 163, ../sass/how-we-make/main.scss */
#site-wrapper .page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 172, ../sass/how-we-make/main.scss */
#slide-container, #two-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  visibility: hidden;
}

/* line 182, ../sass/how-we-make/main.scss */
#slide-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 190, ../sass/how-we-make/main.scss */
#slide-container.fixed > .snappish-main {
  /*-webkit-transform: translate3d(0,0,0) !important;
  @include transition-duration(0s);*/
}

/* line 197, ../sass/how-we-make/main.scss */
#two-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
}
/* line 205, ../sass/how-we-make/main.scss */
#two-container svg {
  width: 100%;
  height: 100%;
}

/* line 214, ../sass/how-we-make/main.scss */
article {
  position: relative;
  z-index: 1;
  font-weight: 200;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  font: 40px/60px 'Gotham Cond SSm A', 'Gotham Cond SSm B';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #fff;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  /*@include transition-timing-function(ease);*/
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
/* line 233, ../sass/how-we-make/main.scss */
article small {
  display: block;
  letter-spacing: 10px;
  font-size: 20px;
  line-height: 20px;
}
/* line 240, ../sass/how-we-make/main.scss */
article .content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: auto;
}
/* line 247, ../sass/how-we-make/main.scss */
article .content span[class*="char"]:last-child {
  letter-spacing: 0;
}
/* line 252, ../sass/how-we-make/main.scss */
article .content small {
  margin-top: -40px;
}
/* line 256, ../sass/how-we-make/main.scss */
article .content h2 {
  position: relative;
  display: inline-block;
  padding: 40px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 266, ../sass/how-we-make/main.scss */
article .content h2, article .content p.top-align {
  /*max-width: 1000px;
  display: inline-block;*/
}
/* line 271, ../sass/how-we-make/main.scss */
article .content p {
  position: absolute;
  width: 100%;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 12px;
}
@media only screen and (max-width: 640px) {
  /* line 271, ../sass/how-we-make/main.scss */
  article .content p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 8px;
  }
}
/* line 284, ../sass/how-we-make/main.scss */
article .content p.top-align {
  top: 50%;
  bottom: auto;
  margin-top: -275px;
}
@media only screen and (max-width: 640px), only screen and (max-height: 685px) {
  /* line 284, ../sass/how-we-make/main.scss */
  article .content p.top-align {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    margin-top: 0;
    top: 60px;
    bottom: auto;
  }
}
/* line 303, ../sass/how-we-make/main.scss */
article .content .label {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 312, ../sass/how-we-make/main.scss */
article .content .label > * {
  display: table-cell;
  position: static;
  vertical-align: middle;
  height: 100%;
}
@media only screen and (max-width: 640px) {
  /* line 240, ../sass/how-we-make/main.scss */
  article .content {
    letter-spacing: 10px;
  }
  /* line 324, ../sass/how-we-make/main.scss */
  article .content small {
    font-size: 12px;
    line-height: 15px;
  }
  /* line 329, ../sass/how-we-make/main.scss */
  article .content h2 {
    font-size: 19px;
    line-height: 35px;
    padding: 26px;
  }
}
