<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
    	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    	<script type="text/javascript" src="tunings.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <style>

        body {
            font-family:"Josefin Sans";
            padding:0;
            margin:0;
        }

        #title {
            padding:20px 10px;
            font-size:14pt;
            display:inline-block;
        }

        #scale-list {
            text-align: left;
         /*   width:900px; */
            margin:40px auto;
            border-spacing:0px;
            width:100%;
        }

        #name, #description {
            font-weight:normal;
            padding:10px 10px;
            font-size:13pt;
        }

        #length {
            font-weight:normal;
            padding:10px 50px;
            font-size:13pt;
            text-align:center;
            width:100px;
        }

        #name {
            font-weight:bold;
        }
        #scale {
            overflow:auto;
        }

        #columnnames {
            border:solid 1px #ddd;
            background-color: #f7f7f7;
        }

        /* menu */

        #menu {
        }

        #menu input {
            border-radius:0px;
            border:solid 1px #000;
            background-color:#fff;
            outline:none;
            padding:7px;
            font-size:10pt;
            display:block;
            margin:10px 10px 10px;
            width:300px;
            float:right;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
           color:    #000;
           opacity:  1;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    #000;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    #000;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    #000;
           opacity:  1;
        }

        #menu a {
            color:#000;
            background-color:#f3f3f3;
            text-decoration:none;
            padding:6px 7px 3px;
            display:block;
            cursor:pointer;
            font-size:11pt;
            float:left;
            margin-left:5px;
        }

        #menu a:hover {
            background-color:#000;
            color:#fff;
        }

    </style>
    <body>
        
        <div ng-app="app" ng-controller="ctrl">

            <div id="menu">

                <div id="title">音调列表 Tune Scale Archive</div>

                <input type="text" placeholder="Search (e.g. partch)" ng-keyup="searchTunings($event)">

                <div style="min-width:780px;float:right">

                <a ng-click="searchTunings('')">所有 All</a>
                <a ng-click="searchTunings('a')">A</a>
                <a ng-click="searchTunings('b')">B</a>
                <a ng-click="searchTunings('c')">C</a>
                <a ng-click="searchTunings('d')">D</a>
                <a ng-click="searchTunings('e')">E</a>
                <a ng-click="searchTunings('f')">F</a>
                <a ng-click="searchTunings('g')">G</a>
                <a ng-click="searchTunings('h')">H</a>
                <a ng-click="searchTunings('i')">I</a>
                <a ng-click="searchTunings('j')">J</a>
                <a ng-click="searchTunings('k')">K</a>
                <a ng-click="searchTunings('l')">L</a>
                <a ng-click="searchTunings('m')">M</a>
                <a ng-click="searchTunings('n')">N</a>
                <a ng-click="searchTunings('o')">O</a>
                <a ng-click="searchTunings('p')">P</a>
                <a ng-click="searchTunings('q')">Q</a>
                <a ng-click="searchTunings('r')">R</a>
                <a ng-click="searchTunings('s')">S</a>
                <a ng-click="searchTunings('t')">T</a>
                <a ng-click="searchTunings('u')">U</a>
                <a ng-click="searchTunings('v')">V</a>
                <a ng-click="searchTunings('w')">W</a>
                <a ng-click="searchTunings('x')">X</a>
                <a ng-click="searchTunings('y')">Y</a>
                <a ng-click="searchTunings('z')">Z</a>

                </div>

            </div>
            
            <table id="scale-list">
                <tr id="columnnames">
                   
                    <td id="name">名Name</td>
                    <td id="description">描述Description</td>
                    <td id="length">说明Notes</td>
                   
                </tr>
                <tr id="scale" ng-repeat="(scale, description) in scales">
                  
                    
                    <td id="name">{{scale}}</td>
                    <td id="description">{{description.description}}</td>
                    <td id="length">{{description.frequencies.length-1}}</td>
                   
                
                </tr>
            </table>
    	
        </div>
    </body>
    <script>
    
    var app = angular.module('app',[]);
   
    app.controller('ctrl', function($scope){
        $scope.searchFish = '';     // set the default search/filter term
        $scope.scales = TuningList
        console.log(TuningList)
        $scope.searchTunings = function(arg) {
            if (arg.target) {
                arg = arg.target.value
            }
            $scope.scales = {}
            for (var key in TuningList) {
                if (key.indexOf(arg.toLowerCase())==0) {
                    $scope.scales[key] = TuningList[key]
                }
            }
        }
    });



    /*

    
	
    console.log(TuningList);

    var list = document.getElementById("scale-list");
    var d = document.getElementById("description");

    for(var key in TuningList){
        var text = document.createTextNode(key);
        var description = document.createTextNode(TuningList[key].description);
        var lineBreak = document.createElement("br");
        var lineBreak1 = document.createElement("br");
        var lineBreak2 = document.createElement("br");
        
        list.appendChild(text);
        list.appendChild(lineBreak);
        list.appendChild(description);
        list.appendChild(lineBreak1);
        list.appendChild(lineBreak2);
    }
	
	*/
    </script>
   
</html>