body { 
  font-family: 'sans';
}


h1{
  margin:0px auto;
  padding:20px;
  text-align: center;
  font-size: 24pt;
}

h2{
  font-size: 18pt;
  text-align: center;
}

h3{
  font-size: 14pt;
  text-align: center;
}

#keyboard{
  display:block;  
}

#scales{
  display: block;
  margin: 0px auto 50px;
  text-align: center;
  border-radius: 20px;
  background-color: #FFbb44;
  opacity:0.9;
  padding:10px;
  width:400px;
}

#loading{
  position:absolute;
  margin:0px auto;
  background-color: #3399FF;
  opacity:0.7;
  border-radius: 20px;
}