body { 
        font-family: 'Hammersmith One';
      }
      

      h1{
        margin:0px auto;
        padding:20px;
        text-align: center;
        font-size: 24pt;
        }

      h2{
        font-size: 16pt;
        text-align: center;
      }

      h3{
        font-size: 12pt;
        text-align: center;
      }

      #keyboard{
        display:block;
        text-align: center;
        padding:50px;
        
      }

      #scales{
        display: block;
        margin: 0px auto;
        text-align: center;
        border-radius: 20px;
        background-color: #FFbb44;
        opacity:0.9;
        padding:50px;
        width:300px;
        height:400px;
      }

      #loading{
        position:absolute;
        margin:0px auto;
        background-color: #3399FF;
        opacity:0.7;
        border-radius: 20px;
      }